@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?cq6oxi') format('truetype'),
    url('fonts/icons.woff?cq6oxi') format('woff'),
    url('fonts/icons.svg?cq6oxi#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-logo:before {
  content: "\e919";
}
._icon-arrow-up:before {
  content: "\e900";
}
._icon-email:before {
  content: "\e901";
}
._icon-facebook:before {
  content: "\e902";
}
._icon-image:before {
  content: "\e903";
}
._icon-insta:before {
  content: "\e904";
}
._icon-phone-circle:before {
  content: "\e905";
}
._icon-location:before {
  content: "\e906";
}
._icon-phone-1:before {
  content: "\e907";
}
._icon-phone-square:before {
  content: "\e908";
}
._icon-smartphone-1:before {
  content: "\e909";
}
._icon-smartphone-2:before {
  content: "\e90a";
}
._icon-phone-retro-1:before {
  content: "\e90b";
}
._icon-phone-retro-2:before {
  content: "\e90c";
}
._icon-phone-retro-3:before {
  content: "\e90d";
}
._icon-quote-circle:before {
  content: "\e90e";
}
._icon-quote-simple:before {
  content: "\e90f";
}
._icon-quote-up-circle:before {
  content: "\e910";
}
._icon-retro-phone:before {
  content: "\e911";
}
._icon-smartphone-circle:before {
  content: "\e912";
}
._icon-square-x-twitter:before {
  content: "\e913";
}
._icon-telegram:before {
  content: "\e914";
}
._icon-tiktok:before {
  content: "\e915";
}
._icon-whatsapp:before {
  content: "\e916";
}
._icon-x-twitter:before {
  content: "\e917";
}
._icon-youtube:before {
  content: "\e918";
}
