//sp ========================================================================================================================================================
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//====================================================================================================
.about__head img{
    // background-color: gray;
    display: block;
    margin: 0 auto;
    padding: toRem(5);
}

.about__logo{
    // background-color: gray;
    width: toRem(60);
    margin-right: toRem(200);
}

.about__title{
    @include adaptiveValue("font-size", 25, 18);
    // font-size: toRem(40);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: toRem(2);
    line-height: 150%;
    text-align: center;
    @include adaptiveValue("margin-bottom", 10, 5);
    color: #615EFC;
    // background-color: gray;
}
.about__subtitle {
    font-size: toRem(16);
    font-weight: 500;
    letter-spacing: toRem(2);
    line-height: 120%;
    text-align: center;
    @include adaptiveValue("margin-bottom", 20, 10);
    color: #000;
}
.about__text {
    @include adaptiveValue("font-size", 20, 16);
    letter-spacing: toRem(2);
    color: #000;
    line-height: 120%;
    text-align: center;
    margin-bottom: toRem(15);
    font-weight: 400;
}


//services ====================================================================================================
.services {
    margin: 0 auto;
    padding: toRem(25) toRem(0);
    margin-bottom: toRem(10);
}
.services__row {
    // background-color: red;
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(30);
    margin: 0px -22.5px;
}

// delete this one
.services__row:last-child{
    margin-bottom: toRem(20);
}

.services__column {
    // background-color: blue;
    display: flex;
    padding: 0px 22.5px;
    flex: 0 1 33%;
    @media (max-width:$tablet){
        flex: 0 1 50%;
    }
    @media (max-width:$mobile){
        flex: 0 1 100%;
    }
}
.service__item {
    background-color: #fff;
    border: 1px solid #a0a0a0;
    border-radius: toRem(10);
    padding: toRem(25) toRem(15);
    -webkit-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    // width: 100%;
}
.service__title {
}

.service__image {
    width: 100%;
    border-radius: toRem(10);
    object-fit: cover;
}


// locations ========================================================================================================================================================
.locations {
    margin-bottom: toRem(100);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &::before{
        content: " ";
        top: 55px;
        width: 100%;
        height: 180px;
        left: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        background-image: url("@img/map-bg/map-bg.jpg");
        z-index: -1;
        filter: brightness(50%);
        @media (max-width:$mobile){
             height: toRem(270); 
        }
    }
}
.locations__body {
    max-width: toRem(900);
    margin: 0 auto;
    padding: toRem(10);
    position: relative;
}
.locations__title {
    margin-bottom: toRem(45);
}

.locations__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(10);
}
.locations__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(30);
    margin: 0px -7px;
}
.location__column {
    flex: 0 1 50%;
    padding: 0px 7px;
    @media (min-width:$mobile){
         flex: 0 1 33%; 
    }
}
.location__item {
    position: absolute;
    // background-color: blue;
    display: flex;
    gap: toRem(1);
    letter-spacing: toRem(1);
    line-height: 120%;
    font-size: toRem(16);
    line-height: 120%;
    font-weight: 400;
    letter-spacing: toRem(2);
    color: #fff;
    &:not(:last-child) {
        margin-bottom: toRem(15);
    }
}

// testimonials ========================================================================================================================================================
.testimonials {
    // background-color: gray;
}
.testimonials__body {
    margin-bottom: toRem(70);
}
.__container {
}
.testi__title {
    margin-bottom: toRem(30);
}
._title {
}
.testi__slider {
}
.swiper-2 {
}
.testi__wrapper {
}
.swiper-wrapper {
}
.testi__slide {
    // background-color: blue;
    width: toRem(150);
    height: toRem(150);
}

.swiper-slide-2 {
}
.testi__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    width: toRem(150)!important;
    margin: 0 auto;
    padding: toRem(5);
    border: 1px solid lightslategray;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.7);
}
._icon-quote-circle{
    font-size: toRem(30);
    color: rgb(218, 203, 198);
    text-align: center;
    margin-bottom: toRem(15);
}
.testi__quote {
    font-size: toRem(16);
    line-height: 120%;
    letter-spacing: toRem(1);
    text-align: center;
    font-weight: 500;
    font-style: italic;
    padding: toRem(15);
    color: #535353;
    position: relative;
}

.testi__client-name {
    font-size: toRem(18);
    line-height: 120%;
    font-weight: 500;
    color: #a0a0a0;
    text-align: center;
}
.swiper-pagination {
    position: relative;
}